.slider {
  width: 1040px;
  height: 542px;
  margin: 0 auto;
  position: relative;
}

.slider__block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.slider__element {
  width: 290px;
  height: 480px;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
}


.element-inactive {
  display: none;
}

.slider__arrow {
  position: absolute;
  top: 40%;
  height: 50px;
  font-size: 80px;
  line-height: 39px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.slider__arrow:hover {
  color: #2ec2f0;
  stroke: #2ec2f0;
}

.slider__arrow-left {
  left: 5px;
}

.slider__arrow-right {
  right: 5px;
}

.slider__dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.slider__dot {
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
  color: white;
}


.dot-active {
  color: #2ec2f0;
}

@media screen and (max-width: 1024px) {
  .slider3 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .slider2 {
    display: none;
  }
}