.slider {
width: 90%;
  height: 542px;
  margin: 0 auto;
  position: relative;
}

.slider__block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.slider__middle {
  width: 300px;
  height: 480px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider__element {
  width: 300px;
  height: 480px;
  border-radius: 20px;
  object-fit: cover;
  transition: .5s ease-in-out;
}

.slider__middle-image {
  height: 49%;
}

.element-inactive {
  display: none;
}

.slider__arrow {
  position: absolute;
  top: 40%;
  height: 50px;
  font-size: 100px;
  line-height: 39px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.slider__arrow:hover {
  color: #2ec2f0;
  stroke: #2ec2f0;
}

.slider__arrow-left {
  left: 0px;
}

.slider__arrow-right {
  right: 0px;
}

.slider__dots {
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.slider__dot {
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
  color: white;
}


.dot-active {
  color: #2ec2f0;
}

@media screen and (max-width: 1024px) {
  .slider3 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .slider2 {
    display: none;
  }
}