.formats {
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formats__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.format {
  width: 280px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.format__image {
  margin: 0 auto;
  height: 108px;
  width: 120px;
  object-fit: contain;
}

.format__title {
  margin: 0;
  margin-top: 20px;
  font-size: 25px;
  line-height: 30px;
  color: #fff;
  font-family:'Macherie';
}

.format__text {
  max-width: 220px;
  margin: 0;
  margin-top: 10px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 960px) {
  .formats {
    margin-top: 270px;
  }
  .formats__container {
    gap: 10px;
  }
  .format {
    margin-top: 100px;
    width: 230px;
    height: 350px;
  }
  .format__image {
    width: 102px;
    height: 92px;
  }
  .format__title {
    margin-top: 27px;
    font-size: 20px;
    line-height: 20px;
  }
  .format__text {
    width: 160px;
    margin-top: 20px;
    font-size: 14px;
  }
}

@media screen and (max-width: 690px) {
  .formats {
    margin-top: 230px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .format {
    margin-top: 10px;
  }
  .format__text {
    width: 145px;
    font-size: 14px;
    line-height: 14px;
  }
}

@media screen and (max-width: 460px) {
  .formats {
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .format {
    margin-top: 10px;
    height: auto;
    margin-top: 80px;
  }
  .format__title {
    margin-top: 10px;
    font-size: 17px;
    line-height: 20px;
  }
  .format__text {
    width: 145px;
    font-size: 12px;
    margin-top: 10px;
  }
  .format__image {
    width: 90px;
    height: 80px;
  }
}