.formats {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formats__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.format {
  width: 280px;
  height: 280px;
  display: flex;
  flex-direction: column;
}

.format__image {
  margin: 0 auto;
  height: 90px;
  width: 100px;
  object-fit: contain;
}

.format__title {
  margin: 0;
  margin-top: 20px;
  font-size: 25px;
  line-height: 30px;
  color: #fff;
  font-family:'Macherie';
}

.format__text {
  margin: 0;
  margin-top: 10px;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}