.about {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.about__background {
  position: absolute;
  top: -0;
  left: 0;
  width: 50%;
  height: 110%;
  box-shadow: inset -10px -10px 100px 10px #1b1b1b;
  filter: blur(1px);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.about__info {
  margin: 0;
  margin-bottom: 120px;
  margin-left: 40%;
  margin-top: 70px;
  width: 60%;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.about__aside {
  margin-top: 20px;
  margin-bottom: 25px;
  width: 60%;
  padding-left: 40px;
  margin-left: 70px;
  float: right;
  border-left: 2px solid #2ec2f0;
  box-shadow: inset 5px 0 5px -5px #2ec2f0;
  color: #2ec2f0;
}

.about__title {
  margin: 0;
  margin-top: 5px;
  font-size: 45px;
  line-height: 52px;
  color: #2ec2f0;
  text-align: left;
  font-family: 'Macherie';
}

.about__subtitle {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
  text-align: left;
  font-family: 'Macherie';
}

.about__text {
  max-width: 630px;
  margin: 0;
  margin-top: 30px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
  text-align: left;
}

.about__button {
  position: absolute;
  bottom: 10px;
  left: 11%;
  width: 232px;
  height: 46px;
  margin: 0;
  border: 2px solid #2ec2f0;
  background: transparent;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  padding: 8px 20px 8px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0.5px #2ec2f0, inset 0px 0px 4px 0.5px #2ec2f0;
  transition: 0.5s ease-in-out;
}

.about__button:hover {
  background-color: #2ec2f0;
}

@media screen and (max-width: 960px) {
  .about__aside {
    width: 65%;
    margin-left: 90px;
    margin-top: 40px;
    padding-left: 20px;
  }
  /* .about__info {
    margin-left: 320px;
  } */
  .about__title {
    font-size: 38px;
  }
  .about__subtitle {
    font-size: 19px;
    line-height: 20px;
    margin-bottom: 0;
  }
  .about__text {
    max-width: 400px;
    font-size: 16px;
    line-height: 20px;
  }
  .about__background {
    width: 80%;
    top: -20px;
    left: -70px;
  }
  .about__button {
    bottom: 0;
    height: 36px;
    line-height: 20px;
    padding: 5px 20px;
  }
}

@media screen and (max-width: 690px) {
  .about {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
  }
  .about__info {
    margin-top: 45px;
    margin-left: 0;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 0 10px 100px 10px;
    margin-bottom: 50px;
  }
  .about__aside {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;
    border: none;
    box-shadow: none;
  }
  .about__title {
    margin-top: 30px;
    font-size: 35px;
    text-align: center;
  }
  .about__subtitle {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    max-width: 370px;
    margin: 5px auto 0;
  }
  .about__text {
    max-width: 370px;
    font-size: 15px;
    line-height: 20px;
    margin: 7px auto 0;
    text-align: center;
  }
  .about__background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .about__button {
    bottom: 10px;
    left: 32%;
    width: 175px;
    height: 25px;
    font-size: 16px;
    line-height: 16px;
    padding: 3px 10px;
  }
}

@media screen and (max-width: 460px) {
  .about {
    padding-left: 20px;
    padding-right: 20px;
  }
  .about__info {
    padding-bottom: 20px;
  }
  .about__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
  .about__text {
    font-size: 12px;
    line-height: 14px;
  }
  .about__button {
    position: static;
    width: 145px;
    height: 20px;
    font-size: 10px;
    line-height: 10px;
    padding: 3px 10px;
    z-index: 10;
    align-self: center;
    margin-top: 80px;
  }
}
