.header {
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
}

.header__background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
}

.header__navigation {
  color: #fff;
  list-style: none;
  gap: 30px;
  display: flex;
  flex-direction: row;
  z-index: 2;
}

.header__navigation-element {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.header__navigation-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.header__button {
  width: 190px;
  height: 30px;
  border: 2px solid #F02ED1;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  box-shadow: 0px 0px 5px .5px #F02ED1, inset 0px 0px 4px .5px #F02ED1;
  z-index: 2;
}

.header__button:hover {
  border: 2px solid #fff;
  box-shadow: 0px 0px 2px .5px #fff, inset 0px 0px 2px .5px #fff;
}

.header__navigation-link:hover {
  color: #F02ED1;
}