.header {
  padding: 10px 60px;
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  gap: 45px;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
}

.header__background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
}

.header__background-main {
  width: 100%;
  opacity: .6;
  filter: blur(2px);
}

.header__background-noise {
  position: inherit;
  width: 100%;
  height: 400px;
  top: 300px;
  left: 0;
}

.header__navigation {
  margin: 0;
  padding: 0;
  color: #fff;
  list-style: none;
  gap: 40px;
  display: flex;
  flex-direction: row;
  z-index: 2;
}

.header__navigation-element {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.header__navigation-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.header__button {
  width: 190px;
  height: 30px;
  border: 2px solid #F02ED1;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  box-shadow: 0px 0px 5px .5px #F02ED1, inset 0px 0px 4px .5px #F02ED1;
  z-index: 2;
  transition: .5s ease-in-out;
}

.header__button:hover {
  background-color: #F02ED1;
}

.header__navigation-link:hover {
  color: #F02ED1;
}

.header__menu {
  display: none;
  width: 33px;
  height: 33px;
  padding: 0;
  border: none;
  z-index: 2;
  background: none;
  background-image: url(../../images/menu-icon.svg);
  background-size: cover;
  stroke: #F02ED1;
}

@media screen and (max-width: 769px) {
  .header {
    padding: 60px 45px;
  }
  .header__menu {
    display: block;
  }

  .header__navigation {
    display: none;
  }

  .header__background-noise {
    top: 220px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 55px 15px;
    gap: 30px;
  }
  .header__button {
    width: 165px;
    height: 25px;
    font-size: 16px;
    line-height: 16px;
  }
  .header__menu {
    width: 27px;
  height: 25px;
  }
}