.intro {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  position: relative;
}

.intro__logo {
  position: absolute;
  top: -150px;
  left: 80px;
  width: 242px;
  height: 185px;
}

.intro__block {
  display: flex;
  flex-direction: row;
}

.intro__block-info {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 30px;
  max-width: 570px;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.intro__header {
  font-family: 'Macherie';
  margin: 0;
  margin-top: 70px;
  font-size: 45px;
  line-height: 52.75px;
  color: #2ec2f0;
  text-align: left;
}

.intro__text {
  margin: 0;
  margin-top: 10px;
  max-width: 372px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
  text-align: left;
}

.intro__button {
  margin-top: 45px;
  width: 232px;
  height: 46px;
  padding: 8px 20px 8px;
  border: 2px solid #f02ed1;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  box-shadow: 0px 0px 5px 0.5px #f02ed1, inset 0px 0px 4px 0.5px #f02ed1;
  transition: 0.5s ease-in-out;
}

.intro__image {
  width: 450px;
  height: 430px;
  z-index: 3;
}

.intro__button:hover {
  background-color: #f02ed1;
}

@media screen and (max-width: 960px) {
  .intro {
    align-items: start;
  }

  .intro__image {
    display: none;
  }
  .intro__block {
    align-items: center;
    justify-content: center;
  }
  .intro__block-info {
    margin-left: 40px;
    max-width: 479px;
  }

  .intro__header {
    margin-top: 100px;
    font-size: 40px;
  }

  .intro__text {
    margin-top: 5px;
  }

  .intro__logo {
    width: 193px;
    height: 152px;
    top: -210px;
    left: 50px;
  }

  .intro__button {
    margin-top: 70px;
    margin-left: 5px;
    height: 36px;
    padding: 5px 20px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media screen and (max-width: 690px) {
  .intro__image {
    display: none;
  }
  .intro {
    margin-top: 85px;
  }
  .intro__block {
    width: 100%;
  }
  .intro__logo {
    width: 135px;
    height: 104px;
    top: -190px;
    left: 20px;
  }
  .intro__header {
    font-size: 30px;
    text-align: center;
    line-height: 40px;
  }
  .intro__block-info {
    margin-top: 0;
  }
  .intro__text {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    align-self: center;
  }
  .intro__button {
    align-self: center;
    font-size: 12px;
    line-height: 12px;
    width: 174px;
    height: 25px;
    padding: 5px 10px;
    margin-top: 100px;
    margin-left: 0;
  }
}

@media screen and (max-width: 460px) {
  .intro__logo {
    width: 105px;
    height: 80px;
    top: -170px;
    left: 15px;
  }
  .intro__header {
    font-size: 24px;
    text-align: center;
    line-height: 28px;
    margin-top: 80px;
  }
  .intro__text {
    font-size: 11px;
    line-height: 13px;
  }
  .intro__button {
    align-self: center;
    width: 140px;
    height: 22px;
    padding: 4px 10px;
    margin-top: 70px;
  }
}