@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:  'Montserrat', 'Macherie', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1B1B1B;
}

*  {
  outline: 1px solid yellow;
}
