.how {
  margin-top: 165px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.how__title {
  margin: 0;
  margin-left: 130px;
  margin-bottom: 30px;
  max-width: 330px;
  font-family:'Macherie';
  font-size: 45px;
  color: #fff;
  text-align: left;
}

.how__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 33px;
}

.how__text {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-align: left;
  vertical-align: middle;
}

.how__text-bright {
  margin: 0;
  font-size: 50px;
  color: #F02ED1;
  margin-left: 10px;
  margin-right: 10px;
  text-shadow: 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

.how__stripe {
  margin: 0;
  background-color: #F02ED1;
  height: 5px;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 1px #F02ED1;
}

.stripe1 {
  width: 119px;
}

.stripe2 {
  width: 174px;
}

.stripe3 {
  width: 267px;
}

.stripe4 {
  width: 371px;
}

.stripe5 {
  width: 460px;
}