.form__input {
  margin-bottom: 0;
  max-width: 358px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, .5);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, .5);
  background: none;
  text-align: center;
}

.form__input:focus {
  background-color: transparent;
}

.form__input-block {
  display: flex;
  flex-direction: column;
  min-height: 65px;
  position: relative;
  margin-bottom: 20px;
  width: 340px;
}

.form__input-error {
  display: block;
  visibility: hidden;
  max-width: 358px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #F00;
  text-align: left;
}

.form__input_type_error {
  margin: 0;
  border-bottom: 1px solid rgb(255, 0, 0);
}

.form__input-error_visible {
  visibility: visible;
}

.form__input:valid {
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
}

input:-internal-autofill-selected {
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
}

.form__question-block {
  display: none;
}

.form__question {
  color: #fff;
}


.form__question-visible {
  display: block;
}

.questions__button {
  margin-top: 18px;
  margin-bottom: 100px;
  width: 197px;
  height: 30px;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000;
  box-shadow: 0px 0px 5px .5px #fff, inset 0px 0px 4px .5px #fff;
  background-color: #fff;
  transition: .5s ease-in-out;
  align-self: center;
}

