.form__input {
  margin-bottom: 0;
  max-width: 358px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.5);
  background: none;
  text-align: center;
}

.form__input:focus {
  background-color: transparent;
}

.form__input-block {
  display: flex;
  flex-direction: column;
  min-height: 65px;
  position: relative;
  margin-bottom: 20px;
  width: 340px;
}

.form__input-error {
  display: block;
  visibility: hidden;
  max-width: 358px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #f00;
  text-align: left;
}

.form__input_type_error {
  margin: 0;
  border-bottom: 1px solid rgb(255, 0, 0);
}

.form__input-error_visible {
  visibility: visible;
}

.form__input:valid {
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
}

input:-internal-autofill-selected {
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
}

.form__question-block {
  display: none;
}

.form__question {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
}

.form__question-visible {
  display: block;
}

.questions__button {
  margin-top: 18px;
  margin-bottom: 100px;
  width: 197px;
  height: 30px;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  box-shadow: 0px 0px 5px 0.5px #fff, inset 0px 0px 4px 0.5px #fff;
  background-color: transparent;
  transition: 0.5s ease-in-out;
  align-self: center;
}

@media screen and (max-width: 750px) {
  .form__input-block {
    max-width: 180px;
    margin-bottom: 10px;
  }
  .questions__button{
    width: 121px;
    height: 24px;
    font-size: 12px;
    line-height: 14px;
  }
  .form__question {
    font-size: 13px;
    line-height: 15px;
  }
}
